<div class="container text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 my-3 p-3">
  <form action="">
    <div class="mb-3">
      <h3>Add a link</h3>
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="" #newtitle [value]="name">
    </div>
    <div class="mb-3">
      <label for="link" class="form-label">Link:</label>
      <input type="text" class="form-control" id="link" placeholder="" #newlink [value]="link">
    </div>
    <button (click)="addArticle(newtitle, newlink)" class="btn btn-primary"><ng-container *ngIf="selectedIndex == -1">Add Link</ng-container ><ng-container *ngIf="selectedIndex != -1">Update</ng-container></button>
  </form>
</div>
<div class="grid my-4">
  <app-article *ngFor="let article of sortedArticles();let i = index" [article]="article" (indx)="addInd(i)" (editEvent)="edit(i)"></app-article>
</div>